# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=get_connected_dev
DB_USER=get_connected_app
DB_PASSWORD=MooM00616?


# Authentication
JWT_SECRET=ZjnJoPDXiAlYcBO8Ks5vv4XcNdgbaS8BhhkcjdjbsSq7rpD1cAqm0_GdWHzN7n-AbEyVazGg0mcrS8GpR0jJmQ
ACCESS_TOKEN_EXPIRE_MINUTES=60


# Cloudflare Feedback Email
#
# Never put the real API token in this
# example file.
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_EMAIL_API_TOKEN=

FEEDBACK_FROM_EMAIL=feedback@getconnectedmason.com

# This should be a verified Cloudflare
# Email Routing destination address.
FEEDBACK_TO_EMAIL=